extends layout

block content
  h1= title

  form(id='penForm', action="/resource/pens", method="POST")
    div.form-group
        label.PenAttr(for='pentype') pen type
        input#pentype(type='text', name='pentype')
    div.form-group
        label.PenAttr(for='color') pen color
        input#color(type='text', name='color')
    div.form-group
        label.PenAttr(for='price') pen price
        input#price(type='number', name='price')
    input(type="submit")

  script.
    document.forms['penForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
